// grid variables
$grid-columns: 12;
$max-size: 1024;
$grids:(
  lg:6144,
  md:768,
  sm:480,
  xs:320,
);
$framing:(
  lg:(769,6144),
  md:(481,768),
  sm:(321, 480),
  xs:(0, 320),
);
$alignments:(
  'left','center','right',
);
//font
$light-font: 200;
$normal-font: 300;
$medium-font: 400;
$bold-font: 500;
$heavy-font: 600;
$small-size: 0.8em;
$normal-size: 1em;
$large-size: 1.5em;
//borders
$border-grey: 1px solid grey;
//colors
$white: #fff;
$black: #000;
$smoke: #5f5f5f;
$white-smoke: #f5f5f5;
$grey: #8f8f8f;
$light-grey: #939393;
$green: #27AE60;
$golden: #998100;
$dark: dark-grey;
$red: #8b0000;
$blue: #2980B9;
$orange: #cc8400;
$darkred: #8b0000;
$darkgreen: #008b00;
$darkblue: #00008b;
$colbalt: #0020c2;
//color states
$warning: #ffaa00;
$confirm: #8B864E;

// background colors
$white_block_color: rgba(0,0,0,0.1);
$grey_block_color: rgba(169,169,169, 0.8);
$black_block_color: rgba(0,0,0,0.65);

$hilight_hover: rgba(255, 153, 0, 0.8);
$hilight_select: rgba(0, 255, 0, 0.8);
