/*ELEMENTS*/
body{
  background: #fafafa;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  color: #333;
  font-size: 1em;
}
span,p,div{
  &.left{
    width: 66%
  }
  &.right{
    float: right;
    text-align: right;
    width: 33%;
    svg{
    }
  }
  &.small{
   font-size: 50%;
  }
}
p + .right{
  font-size: 100%;
  position: absolute;
  right: 1em;
  top: 1em;
  span{
    font-size: 1em;
  }
}

blockquote{
  margin: 1em!important;
  span{
    font-size: $large-size;
    line-height: .85;
    quotes: initial;
    &:before{
      content: open-quote;
      @include quote();
    }
    &:after{
      content: close-quote;
      @include quote();
    }
  }
}
/*DIRECTIVES CASES*/
.align-right{
  text-align: right;
}
.align-left{
  text-align: left;
}
.no-break{
  white-space: nowrap;
}
.pad-10px{
  //I really do not like overrides that can break inheritance
  //unless your really do need to break inheritance  8^)
  padding: 10px!important;
}
/*HEADINGS CASES*/
.container{
  .heading{
    padding: 1.2em 1em 0;
  }
  .blocks{
    .heading{

    }
  }
}
/*BLOCKS CASES*/
.blocks{
  margin: 1em;
  .block{
    font-weight: $light-font;
    padding: 14px 1em;
    position: relative;
    &.grey{
      background-color: $grey_block_color;
      color: $white;
      text{
        fill: $white;
      }
    }
    &.white{
      background-color: $white-smoke;
      color: $black;
    }
    &.black{
      background-color: $black_block_color;
      color: $white;
      text{
        fill: $white;
      }
    }
    &.grid{
      padding: 3%;
      .left,.right{
        width: 50%;
        > div{
          padding: 10px 0;
          &:first-child{
            border-bottom: 1px solid $light-grey;
          }
        }
      }
      .right{
        padding: 10px;
        position: absolute;
        right: 0;
        text-align: right;
        top: 0;
      }
    }
  }
}
.disclosure-block{
  p{

  }
}
/*NAME SPACES*/
.status-box{
  background-color: $white-smoke;
  border: 1px solid $light-grey;
  border-radius: 0.25em;
  opacity: 0;
  padding: 0.15em;
  position: absolute;
  right: 2pt;
  transition: 2s ease-in-out;
  top: 2pt;
  @include shadow(0.25em);
  z-index: 100;
}
.transactions{
  .blocks{
    margin: 1em;
  }
}

.article{
  padding: 1em;
  h2{
    font-size: $large-size;
    padding: .25em 0;
  }
  p{
    font-size: $normal-font;
  }
}

/*TRANSFORMS*/
.arrow-box {
	position: relative;
	border-right: 1px solid $light-grey;
  &:before,&:after{
  	left: 100%;
  	top: 50%;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
    z-index: 10000;
  }
  &:before{
  	border-left-color: $light-grey;
  	border-width: 15px;
  	margin-top: -15px;
  }
  &:after{
  	border-left-color: $white-smoke;
  	border-width: 12px;
  	margin-top: -12px;
  }
}
