/** sidebar component styles
@TODO provide build reference tagging for packageing compile styles into
each component to maintain full component architecture
**/
.sidepanel{
  @include fadedBG(0, 0.8);
  left: 100%;
  height: 100%;
  min-width: 200pt;
  max-width: 33%;
  position: fixed;
  transform: translateX(0);
  transition: 0.25s all ease-in-out;
  top: 0;
  z-index: 10;
  &.open{
    transform: translateX(-200pt);
  }
  .tab{
    @include fadedBG(0, 0.75);
    color: #fff;
    display: block;
    font-size: 0.75em;
    left: -3.5em;
    transform: rotate(-90deg);
    height: 1.25em;
    width: 6em;
    top: 5em;
    position: absolute;
    text-align: center;
  }
  .view{
    .heading{
      form{
        position: relative;
        input[type=submit]{
          color: $white;
          margin: 0.5em;
          padding: 0.5em 0;
          position: absolute;
          right: 2.5em;
          top: 0;
          z-index: 1;
        }
        label{
          display: block;
          left: 1em;
          padding: 0.5em 0;
          position: relative;
          text-align: center;
          width: 135pt;
          input{
            @include fadedBG(255,0.75);
            border-radius: 2px;
            color: #fff;
            font-size: 0.75em;
            text-align: center;
            width: 100%;
            z-index: 1;
          }
        }
      }
    }
    .last-seen{
      .frame{
        @include fadedBG(255,0.9);
        border: 1pt solid grey;
        border-radius: 3pt;
        margin: 0 15% 0 5%;
        padding: 0.25em;
        width: 80%;
        h4{
          color: $dark;
          font-size: 8pt;
          font-style: oblique;
          text-align: right;
        }
      }
    }
    .history{
      .list{
        color: $white;
        font-size: 0.65em;;
        height: 80pt;
        overflow: auto;
        padding: 10pt 0 10pt 10pt;
        position: relative;
        top: 0.5em;
      }
      button,
      h4{
        color: #fff;
        font-size: 0.75em;
        position: relative;
      }
      h4{
        right: 2.5em;
        float: right;
        padding-top: 4pt;
        text-align: right;
        width: auto;
      }
      button{
        background-color: transparent;
        border: 1pt solid $white;
        top: 3pt;
        left: 1.5em;
        font-size: 0.5em;;
      }
      .list{
        ul{
          li{
            &.image{
              border-radius: 5pt;
              width: 15pt;
            }
            &.text{
              margin: 0 0 0 8pt;
              bottom: 6pt;
              position: relative;;
            }
          }
        }
      }
    }
  }
}
